{% extends '_template-navbar.html.twig' %}

{% block title %}Création d'un évènement{% endblock %}

{% block content %}
   <div class="container-fluid d-flex justify-content-center ">
    <div class="section mt-5 p-3 bg-light shadow ">
       <h1 class="text-center">Création d'un évènement</h1>
        {{form_start(registration_form)}}
            {{ form_row(registration_form.nom,{label:"Nom de l'évènement"}) }}
            {{ form_row(registration_form.description,{label:"Description"}) }}
            
            {{ form_row(registration_form.lieu, {
                label: 'Lieu'}) }}
            {{ form_row(registration_form.date, {
                label: 'Date'}) }}

                
                 <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{form_end(registration_form)}}


       

    </div>
  </div>
{% endblock %}
