
    {% extends '_template-navbar.html.twig' %}


{% block title %}Mes participations{% endblock %}


{% block  content %}
{# le h temporaire #}
 <div class="container-fluid vh-100 "> 
    <div class="row bg-warning p-4  ">
        <div class="col-4">
        </div>
        <div class="col-4 text-center text-light">
           <h1 class="text-dark">Mes Participations</h1>
            {# <p>{{app.user.pseudo}}</p> #}
        </div>
        <div class="col-4 d-flex justify-content-end">
           <div class="w-50">
              <label for="exampleFormControlSelect1">Trier par</label>
              <select class="form-control" id="exampleFormControlSelect1">
              <option>ordre croissant </option>
              <option>ordre décroissant</option>
              </select>
           </div>
        </div>
  
     </div>
     <p class="h3 font-bold">Nombre d'évènements: {{allEvents|length}}</p>
     {# ici event (peut etre nommé de plusieurs facon est le nom qu'on donne au tableau events #}
     {% for allEvent in allEvents %}
     <section class="">
        
        <div class="row w-100 shadow text-center mt-4 p-2">
        <figure class="figure col-3 mt-3 text-right">
                    <img class="figure-img img-fluid" src="https://loremflickr.com/300/200/event/">
           </figure>
            <div class=" p-2 col-3">
            
               <div class="w-50  ">
                    <h2 class="mt-4">{{allEvent.nom}}</h2>
                    <br>
                    <p>Le: {{allEvent.date|date("m/d/Y")}}</p>
                </div>
                    
            </div>
            
            {# <p>{{event.date}}</p> #}
            <div class=" col-6 d-flex justify-content-end " >
                <div class="">
                    <a href="#" type="button" class="btn btn-warning " title="consulter">Consulter</a>
               
                    <a href="{{path('cancellation',{id: allEvent.id,token: csrf_token('event-cancel')}) }}" type="button" class="btn btn-danger " title="annuler">Annuler</a>
               </div>
            </div>
        </div>
        

     </section>
     {% endfor %}
 </div>

{% endblock %}

  