

    {% extends '_template-navbar.html.twig' %}


{% block title %}Accueil{% endblock %}


{% block  content %}
 <div class="container-fluid ">
     <div class="row bg-warning p-4 ">
        <div class="col-4">
        </div>
        <div class="col-4 text-center text-light">
            <p class="h1">BIENVENUE</h1>
            <p  class="h2">sur le site <strong>ELEPHANT MEMORY</strong></p>
            {# <p>{{app.user.pseudo}}</p> #}
        </div>
        <div class="col-4 d-flex justify-content-end">
           <div class="w-50">
              <label for="exampleFormControlSelect1">Trier par</label>
              <select class="form-control" id="exampleFormControlSelect1">
              <option>ordre croissant </option>
              <option>ordre décroissant</option>
              </select>
           </div>
        </div>
  
     </div>
     {# ici event (peut etre nommé de plusieurs facon est le nom qu'on donne au tableau events #}
     <p class="h3 font-bold">Nombre d'évènements: {{allEvents|length}}</p>
     {% for allEvent in allEvents %}
     <section class="d-flex justify-content-md-center  ">
       
        <div class=" shadow w-50 text-center mt-4">
            <h2 class="mt-4">{{allEvent.nom}}</h2>
              <br>
            
            <p class="font-weight-bold">Description:</p>
            <p>{{allEvent.description}}</p>
              <br>
            
            <p class="font-weight-bold">Lieu:</p>
            <p>{{allEvent.lieu}}</p>
              <br>
            
            <p class="font-weight-bold">Date:</p>
            <p>{{allEvent.date|date("m/d/Y")}}</p>
              

            
            {# <p>{{event.date}}</p> #}
            <div class=" d-flex justify-content-md-center mb-4">
              <a href="#" type="button" class="btn btn-warning mr-2 " title="consulter">Consulter</a>
               <a href="{{path('app_participation',{id: allEvent.id,token: csrf_token('event-participate')}) }}" type="button" class="btn btn-success " title="participer">je participe</a>
               
            </div>
        </div>
        

     </section>
     {% endfor %}
 </div>

{% endblock %}

  

