{% extends "base.html.twig" %}

{% block body %}
   
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand text-warning" href="#">🐘 <strong>Elephant Memory </strong></a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    
                    {# s'occupe de la partie affichage  pour que ca soit uniquement l'user connecté qui accède a la la party sélectionné #}
                     {% if app.user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_event_list') }}">Mes évenements 📅</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="{{ path('app_event_participation') }}"  aria-disabled="true">Mes particpations 📝</a>
                        </li>
                     {% endif %}
                    
                </ul>
                <form class="form-inline my-2 my-lg-0  ">
                    
                    {# <button class="btn btn-light my-2 my-sm-0 mr-2" type="submit">Inscription</button> #}
                     <div class="form-group">
                    {% if app.user %}
                         
                        <a class="btn btn-dark border-success col my-2 my-sm-0 mr-2" href="{{ path('app_event') }}">
                        
                          <strong class="text-success">CreateEvent</strong>
                        </a>
                        <a class="btn btn-dark border-success col my-2 my-sm-0 mr-2" href="{{ path('app_profil_edit',{id: app.user.id}) }}">
                        🟢
                          <strong class="text-success">{{ app.user.pseudo }}</strong>
                        </a>
                        <a class="btn btn-dark border-danger col my-2 my-sm-0 mr-2" href="{{ path('app_login') }}">
                            <strong class="text-danger">Déconnexion </strong>
                        </a>
                     </div>
                          
                     {% else %}
                
                    <a class="btn btn-dark border-warning text-warning  my-2 my-sm-0 mr-2" href="{{ path('app_logout') }}"> 👤 Connexion</a>
                   
                   
                       <a class="btn btn-dark border-success text-success " href="{{ path('app_register') }}">inscription</a>
                   
                   {% endif %}
                </form>
            
            </div>
        
        
        </nav>

{% block content %}{% endblock %}
       <footer class="w-100 bg-secondary text-center ">
          <div >
          Copyright &copy; 
          {{ "now"|date("Y")}}</div>
       </footer>
    
 {% endblock %}

 